* {
  font-family: "Black Han Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.wrap {
  margin: 10px auto;
  width: 300px;
}

.mytitle {
  width: 300px;
  height: 200px;
  background-image: url("");
  background-position: center;
  background-size: cover;

  border-radius: 10px;
  padding-top: 40px;

  color: white;
  text-align: center;
}